html {
  background-image:url("/brasas.gif");
  height: 100%; 
  background-size: cover;
  background-position:center;
  background-repeat: repeat-y;
  font-size: 15px;
  font-family: "Roboto Slab", monospace; 
  line-height: 0.5cm;
}
h1 {
  margin: 0px;
  width: 750px;
  font-family: "Zilla Slab Highlight";
  font-size: 30px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
  color: red;
}
h2 {
  margin: 0px;
  width: 750px;
  font-family: "Zilla Slab Highlight";
font-size: 20px;
  text-align: center;
  color: red;
  margin-left:25px;
}
h3 {
  margin: 0px;
  width: 750px;
  font-family: "Zilla Slab Highlight";
font-size: 22px;
  text-align: justify;
  color: red;
  margin-left:25px;
}
  
p {
    width: auto;
    text-align: justify;
    color:  #d9f1e9 ;
    margin-left: 25px;
    font-family: "Roboto Slab", monospace; 
   line-height: 0.5cm;
}

body {
  height: auto;
  margin: auto;
  background-color: transparent;
  padding: 0 20px 20px 20px;
  border: 1px white;
 display: 
}
a {
  color: black;
  transition: background-color .5s;
  transition: color .8s;
}
a:link, a:active, a:visited {color: black;}
 
a:hover {
  color: white;
transition: color .8s;
text-decoration: underline;}
head {position:fixed; width:900px; top:10%;
}

table, th, td {
    border: 1px solid black;
}
#container {
                max-width: 900px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: red;
            }

 #navbar {position:fixed;
width: 100%;             
background-color: rgb (235,100,79);  
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 5px;
            }

            /* navigation links*/
            #navbar li a {
                color:  #efe9e8;
                /* navbar text color */
                font-weight: 500;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color:  white;
                text-decoration: underline;
            }

            #flex {
                display: flex;
            }
            #container a {
                color: black;
                text-decoration: none;
 }
#masthead {position:absolute; width: 100%; height: 150px;
  background-image:url("/brasas.gif");
  border: 1px solid black
  left:0px;
}
#posts-container {position:absolute; width:100%; height: auto;
  background-color: (0, 0, 0, 0.7);
                  
.header{position:absolute; width:100%; margin:auto;
  text-align: center;
  background:rgb (235,100,79);
  color: white;
  font-size: 30px;
}
#footer {position: absolute;
                background-image:url("/brasas.gif");
                /* background color for footer */
                width: 100%;
                height: 50px;
                padding: 0px;
                bottom: 10px;
                left: 0;
                text-align: center;
                /* this centers the footer text */
            }
            
.extra3 {
  padding: 0 10px;
  margin: auto;
  text-align: left;
  border: 3px rgb( 217, 241, 233 );
  font-family: "Bedrock", monospace;
   width:800px;
  word-spacing: 5px;
  background-image: url(https://64.media.tumblr.com/5f3636e59494f45ab9b1aa326309ffa2/931d39396eadf5a4-4f/s2048x3072/6fd557eb283652ebe30e33f3832081fe24c247f8.png);
}

.cajaestatica {
  padding: 10px;
  margin-top:200px;
  text-align: left;
  font-family: "Bedrock", monospace;
   width: 100%;
  height: auto;
  word-spacing: 5px;
background-color: rgb(0, 0, 0, 0.8);
  border-style: double;
border-color: black;
border-radius: 5px;
}
